# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Optional build folders
dist/
build/

# IDE settings (VS Code, JetBrains, etc.)
.vscode/
.idea/
